/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Garamond, sans-serif;
    background-color: #424242; /* Charcoal */
    color: #ffffff;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #424242; /* Charcoal */
    padding: 20px 0;
    color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li button {
    background-color: white;
    color: #424242;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

nav ul li button:hover {
    background-color: #f1f1f1;
}

/* Section Styles */
section {
    padding: 30px;
    margin: 20px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Section Heading Styles */
h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
    font-weight: 600;
}

/* Section-specific Heading Colors */
#about h2 {
    color: #424242;
}

#donate h2 {
    color: #424242;
}

#volunteers h2 {
    color: #424242;
}

/* Section Content */
p {
    text-align: center;
    font-size: 1.2rem;
    color: #424242;
    margin-bottom: 20px;
}

/* Button Styles */
.cta-button {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    background-color: white;
    color: #424242;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border: 2px solid #424242;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #f1f1f1;
    border-color: #424242;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;
}

label {
    margin: 10px 0;
    font-size: 1.1rem;
    color: #424242;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 350px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input:focus {
    border: 2px solid #424242;
    outline: none;
}
